body{
    width:100vw;
    height: 100vh;
    background-color: aqua;
}
.main
{
    position: relative;
    border: 2px solid bisque;
    width:auto;
    height: 100%;
    overflow-y: scroll;
}
.chatbot
{
    display:flex;
    border-radius: 20px;
    width:fit-content;
    height: 50px;
    border: 2px solid red;
    position: fixed;
    right: 0;
    bottom:0;
    align-items: center;
    justify-content: center;
}
.sticky
{
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    height:10%;
    width: 100%;
    background-color: aquamarine;
    border: 2px solid lightblue;
}